{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

<div class="bs-example">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'images/p1.png' %}" alt="First slide">
            </div>
            <div class="item">
                <img src="{% static 'images/Off2bannerwithOFF.png' %}" alt="Second slide">
            </div>
            <div class="item">
                <img src="{% static 'images/patakis.png' %}" alt="Third slide">
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>


{% endblock %}

{% block pagescripts %}
<script src="{% static 'app/index.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function(){
    console.log("Init index page--->")
      var settings = {};
      var model = new Index(settings);
      model.initPage();
    });


</script>
{% endblock %}