{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<div class="page-header">
    <h2>Fraction Details</h2>
</div>

<form class="form-horizontal" role="form" action="{% url 'p_fractions:fractions_details' fraction_id %}" method="POST">
    {% csrf_token %}


    {{ form.management_form }}
    {% for form in formset %}
    {% for field in form.visible_fields %}

    <div class="form-group {%if field.errors %}has-error{%endif%}">
        <label class="col-sm-2 control-label">{{ field.label_tag }} </label>
        <div class="col-sm-4">
            {{ field|add_class:"form-control" }}
        </div>
        {% if field.errors %}
        <span class="help-block text-danger">{{ field.errors }}</span>
        {% endif %}
    </div>

    {% endfor %}

    {% for field in form.hidden_fields %}
    <div style="display:none;">{{ field }}</div>
    {% endfor %}
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
</form>



{% endblock %}