{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<div class="page-header">
    <h2>Fractions List</h2>
</div>

{% csrf_token %}
<a href="{% url 'p_fractions:fractions_details' %}">Add</a>

<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Game Name</th>
        <th>Alliance Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    {% for fraction in items %}
    <tr data-id="{{ fraction.id }}">
        <td>
            {{ forloop.counter }}
        </td>
        <td>
            {{ fraction.name }}
        </td>
        <td>
            {{ fraction.game_name }}
        </td>
        <td>
            {{ fraction.alliance.name }}
        </td>
        <td>
            <a href="{% url 'p_fractions:fractions_details' fraction.id %}">View</a>
            <a href="javascript:void(0)" class="delete-item">Delete</a>
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}

{% block pagescripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing&language=en">
</script>

<script src="{% static 'app/fractions/fraction_list.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function(){
    var settings = {
      urlDelete: "{% url 'p_fractions:fractions_delete' %}"
    };
    var model = new FractionList(settings);
    model.initPage();
  });

</script>
{% endblock %}