{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<div class="page-header">
    <h2>Alliances List</h2>
</div>

{% csrf_token %}
<a href="{% url 'p_alliances:addUpdateAlliance' %}">Add</a>

<table class="table table-hover" id="alliancesListTable">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Game Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    {% for alliance in items %}
    <tr data-id="{{ alliance.id }}">
        <td>
            {{ forloop.counter }}
        </td>
        <td>
            {{ alliance.name }}
        </td>
        <td>
            {{ alliance.game_name }}
        </td>
        <td>
            <a href="{% url 'p_alliances:addUpdateAlliance' alliance.id %}">View</a>
            <a href="javascript:void(0)" class="delete-item">Delete</a>
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}


{% block pagescripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing&language=en">
</script>

<script src="{% static 'app/paranoia_admin/alliance_list.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function(){
    var settings = {
      urlDelete: "{% url 'p_alliances:alliance_delete' %}"
    };
    var model = new AllianceList(settings);
    model.initPage();
  });


</script>
{% endblock %}