<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'datepicker/css/datepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sticky-footer-navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'select2-3.4.6/select2.css' %}">

    <script src="{% static 'jquery-1.11.0.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'datatables-1.9.4.js' %}" type="text/javascript"></script>
    <script src="{% static 'dist/js/bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'dist/js/bootstrap-carousel.js' %}" type="text/javascript"></script>
    <script src="{% static 'select2-3.4.6/select2.js' %}" type="text/javascript"></script>
    <script src="{% static 'datepicker/js/bootstrap-datepicker.js' %}" type="text/javascript" />
    <script src="{% static 'knockout-3.1.0.js' %}" type="text/javascript"></script>
    <script src="{% static 'require.js' %}" type="text/javascript"></script>
    <script src="{% static 'main.js' %}" type="text/javascript"></script>

    <script src="{% static 'app/utils.js' %}" type="text/javascript"></script>

    <script data-main="{% static 'main.js' %}" src="{% static 'require.js' %}"></script>
    <title>{% block title %}Paranoia{% endblock %}</title>
</head>


<body>
<div class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Paranoia</a>
        </div>

        {% if user.is_superuser %}

        <ul class="nav navbar-nav">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">groups</li>
                    <li><a href="{% url 'p_alliances:alliances_list' %}">Alliances</a></li>
                    <li><a href="{% url 'p_fractions:fractions_list' %}">Fractions</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">points</li>
                    <li><a href="{% url 'p_points:key_points' %}">Keys Points</a></li>
                    <li><a href="{% url 'p_points:quest_points' %}">Quests Points</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'paranoia_admin:players_list' %}">Players</a>
            </li>
        </ul>

        {% endif %}

        <div class="navbar-collapse collapse">
            {% if user.is_authenticated %}
            <div class="navbar-header navbar-right">
                <a class="navbar-brand" href="{% url 'auth_logout' %}">Logout</a>
            </div>
            <div class="navbar-header navbar-right">
                <a class="navbar-brand" href="#">Hello, {{ user.username }}</a>
            </div>
            {% else %}

            <div class="form-group">
                <div class="navbar-header navbar-right">
                    <a class="navbar-brand" href="{% url 'auth_login' %}">Login</a>
                </div>
                <div class="navbar-header navbar-right">
                    <a class="navbar-brand" href="{% url 'registration_register' %}">Register</a>
                </div>
            </div>

            {% endif %}
        </div>
    </div>
</div>

<div class="container" id="content">
    {% block content %}{% endblock %}
</div>

{% block pagescripts %}{% endblock %}
<div id="footer">
    <div class="container">
        <p class="text-muted">{% now "Y" %} Grey Order.</p>
    </div>
</div>
</body>
</html>