{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
<form id="TestForm" target="_blank" action="www.google.com">
    <input type="button" value="CLICK" id="TestButton" />
</form>
<div class="page-header">
    <h2>Map</h2>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Settings</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">
                <input id="tbLatitude" class="form-control w50p" type="text" placeholder="Latitude"
                       data-bind="value: firstName" value="53.89">
            </div>
            <div class="col-sm-2">
                <input id="tbLongitude" class="form-control w50p" type="text" placeholder="Longitude"
                       data-bind="value: lastName" value="27.56666700000026">
            </div>
            <div class="col-sm-2">
                <input type="button" class="btn btn-success" id="AddKeyPoint" value="Add"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div id="MapContainer" class="well">
        </div>
    </div>
    <div class="col-md-4 well" style="overflow-y: scroll; height:400px;">
        <div class="list-group list-added-markers" id="KeyListForm">
        </div>
    </div>
</div>

<form id="KeyPointForm">
    {% csrf_token %}
</form>
{% endblock %}



{% block pagescripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing&language=en">
</script>

<script src="{% static 'app/points/key_points.js' %}" type="text/javascript"></script>
<script src="{% static 'app/maputils.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function(){

   $('#TestButton').click(function(){
        var form = $('#TestButton').closest('form');
        form.submit();
   });

    var settings = {
      urlForm: "{% url 'p_points:key_points' %}",
      urlListForm: "{% url 'p_points:get_key_points_list_form' %}",
      urlAddOrUpdate: "{% url 'p_points:add_or_update_point' %}",
    };
    var model = new KeyPoints(settings);
    model.initPage();
  });





</script>
{% endblock %}