{% load staticfiles %}
{% load widget_tweaks %}

<div class="list-group list-added-markers" id="KeyListForm">
    {% for item in items %}

    <a href="javascript:void(0)" class="list-group-item point-item">{{ item.title }}</a>

    {% endfor %}
</div>