{% load staticfiles %}
{% load widget_tweaks %}

<hr/>
<form class="form-horizontal" role="form" id="KeyPointForm">
    {% csrf_token %}

    {% for form in formset %}

    <div class="form-group">
        <label class="col-sm-2 control-label">Title</label>

        <div class="col-sm-4">
            {{ form.title|add_class:"form-control"|attr:"tabindex:1" }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Latitude</label>

        <div class="col-sm-4">
            {{ form.lat|add_class:"form-control"|attr:"tabindex:2" }}
        </div>
        <label class="col-sm-2 control-label">Longitude</label>

        <div class="col-sm-4">
            {{ form.lon|add_class:"form-control"|attr:"tabindex:8" }}
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Fraction</label>

        <div class="col-sm-4">
            {{ form.fraction|add_class:"form-control select2"|attr:"tabindex:3" }}
        </div>
        <div class=" col-sm-offset-2 col-sm-4">
            <div class="checkbox">
                <label>
                    {{ form.is_secret|attr:"tabindex:9" }} Is secret
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Income Personal</label>

        <div class="col-sm-4">
            {{ form.income_personal|add_class:"form-control"|attr:"tabindex:4" }}
        </div>

        <div class=" col-sm-offset-2 col-sm-4">
            <div class="checkbox">
                <label>
                    {{ form.is_refresh|attr:"tabindex:10" }} Is refresh
                </label>
            </div>
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Income Fraction</label>

        <div class="col-sm-4">
            {{ form.income_fraction|add_class:"form-control"|attr:"tabindex:5" }}
        </div>

        <label class="col-sm-2 control-label">Date Refresh</label>

        <div class="col-sm-4">
            {{ form.date_refresh|add_class:"form-control date-picker"|attr:"tabindex:11" }}
        </div>


    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Control Fraction</label>

        <div class="col-sm-4">
            {{ form.ctrl_fraction|add_class:"form-control select2"|attr:"tabindex:6" }}
        </div>

        <label class="col-sm-2 control-label">Distance Capture</label>

        <div class="col-sm-4">
            {{ form.distance_capture|add_class:"form-control"|attr:"tabindex:12" }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Owner</label>

        <div class="col-sm-4">
            {{ form.owner|add_class:"form-control select2"|attr:"tabindex:7" }}
        </div>

        <label class="col-sm-2 control-label">Distance Open</label>

        <div class="col-sm-4">
            {{ form.distance_open|add_class:"form-control"|attr:"tabindex:13" }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default" id="SaveBtn" tabindex="14">Create</button>
        </div>
    </div>

    {% for field in form.hidden_fields %}
    <div style="display:none;">{{ field }}</div>
    {% endfor %}
    {% endfor %}
</form>
