{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">

<div class="page-header">
    <h2>Quest Points</h2>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Settings</div>
    <div class="panel-body">
        <div class="col-sm-4 input-group">
            <input id="tbLatitude" class="form-control w50p" type="text" placeholder="Latitude"
                   data-bind="value: firstName" value="53.89">
            <input id="tbLongitude" class="form-control w50p" type="text" placeholder="Longitude"
                   data-bind="value: lastName" value="27.56666700000026">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div id="MapContainer" class="well">

        </div>
    </div>
    <div class="col-md-4 well" style="overflow-y: scroll; height:400px;">
        <div class="list-group list-added-markers">
        </div>
    </div>
</div>

{% endblock %}

{% block pagescripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing&language=en">
</script>

<script src="{% static 'app/points/quest_points.js' %}" type="text/javascript"></script>
<script src="{% static 'app/maputils.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function(){
    var settings = {

    };
    var model = new QuestPoints(settings);
    model.initPage();
  });
</script>
{% endblock %}