{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="page-header">
    <h2>Players list</h2>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Username</th>
        <th>Fullname</th>
        <th>Nickname</th>
        <th>Imei</th>
        <th>Email</th>
        <th>Loyalty</th>
    </tr>
    </thead>
    <tbody>

    {% for profile in profiles %}
    <tr>
        <td>
            {{ forloop.counter }}
        </td>
        <td>
            <a href="{% url 'paranoia_admin:players_details' %}?pid={{profile.id}}">
                {{ profile.user.username }}
            </a>
        </td>
        <td>
            {{ profile.user.first_name }}&nbsp;{{ profile.user.last_name }}
        </td>
        <td>
            {{ profile.nick_name }}
        </td>
        <td>
            {{ profile.imei }}
        </td>
        <td>
            {{ profile.user.email }}
        </td>

        <td>
            {{ profile.loyalty }}
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}